

<!-- <a href="/">App</a> -->

<a routerLink="/bindings"> Binding </a> &nbsp; || &nbsp; 
<a routerLink="/directives"> Directives </a> || &nbsp;
<a routerLink="/pipes"> Pipes </a> || &nbsp;
<a routerLink="/forms"> Angular forms </a> 

<router-outlet></router-outlet>


<!-- 
<app-binding ></app-binding>

<app-directives></app-directives> -->




<!-- 
<app-child 
[messageFromParent]="'Hello there!'" 
(messageToParent)="receiveMessage($event)"></app-child>

<p> Message from child: {{messageFromChild}}</p>

<button (click)="callChildComponent()"> Greet from Child </button> -->